.menu-wrapper {
    padding: 3rem;
}

.menu {
    --items-spacing: 2rem;
    --details-margin: 0.5rem;

    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--items-spacing);
}

.item {
    display: flex;
    width: calc(25% - 3 / 4 * var(--items-spacing));
    gap: 0.5rem;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 14px 0 #00000029;
}

@media only screen and (max-width: 768px) {
    .item {
        width: calc(33% - 2 / 3 * var(--items-spacing));
    }
}

@media only screen and (max-width: 630px) {
    .item {
        width: calc(50% - 1 / 2 * var(--items-spacing));
    }
}

@media only screen and (max-width: 460px) {
    .item {
        width: 100%;
    }
}

.item.in-cart {
    box-shadow: 0 0 14px 0 var(--red-shadow);
}

.item img {
    --img-padding: 1rem;

    width: calc(100% - var(--img-padding) * 2);
    height: auto;
    background-color: #f8f8f8;
    padding: var(--img-padding);
}

.item-name {
    font-variation-settings: 'wght' 700;
    font-size: 1.1rem;
    margin-inline: var(--details-margin);
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 0.25rem;
}

.item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: var(--details-margin);
    margin-bottom: var(--details-margin);
    flex-grow: 1;
}

.item-price {
    font-weight: bold;
    color: var(--red);
    font-size: 1.1rem;
    font-variation-settings: 'wght' 600;
    white-space: nowrap;
}

.item-buy {
    --button-size: 2rem;

    height: var(--button-size);
    width: var(--button-size);
    background-size: cover;
    color: transparent;
    border: none;
    background: var(--red) url("../img/menu-cart.svg") no-repeat;
    border-radius: 0.5rem;
    overflow: hidden;
}

.item.in-cart .item-buy {
    display: none;
}

.item:not(.in-cart) .item-modify-wrapper {
    display: none;
}

.item-modify-wrapper {
    white-space: nowrap;
}

.item-modify {
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    font-variation-settings: 'wght' 900;
    border: none;
    background-color: var(--red);
    border-radius: 0.25rem;
    overflow: hidden;
}